<h1>Memory Diary</h1>

<div class='full'>
  <button class='left'>left</button>
  <div class='diary'>
    {{#each memories}}
      <div class='page'>
        <div class='memory'>
          <h2 class='memory-title'>{{this.title}}</h2>
          <p class='memory-text'>{{this.memory}}</p>
          <p class='memory-author'>By {{this.authorId}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <button class='right'>right</button>
</div>

<script src='/javascripts/script.js'></script>