<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {{!-- <link rel="stylesheet" href="/path/to/flickity.css" media="screen"> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    {{!-- <script src="/path/to/flickity.pkgd.min.js"></script> --}}
    <script src="/javascripts/script.js"></script>
  </body>
</html>
