<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
