body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bold{
  font-weight: bold;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.top_line{
  display: flex;
  align-content: space-between;
  column-gap: 100px;
}

.entry{
  border: 3px dotted limegreen;
  padding: 10px;
}

img{
  width: 50%;
}